*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.menu{
    width: 250px;
    background-color: aliceblue;
    border: 1px solid rgb(35, 87, 86);   
    padding: 10px; 
    display: inline-block;
}

a:link{
    color: red;
}

a:visited{
    color:chocolate;
    text-decoration: line-through;
}



.box{
    margin-top: 10px;
    width: 100px;
    height: 100px;
    background-color: blue;
}

.box:target{
    margin-left: 150px;
    transition: 0.5s;
}

h2{
    color: red;
}

h2::before{
    content: "";
    display: inline-block;
    width: 100px;
    height: 150px;
    background-color: red;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}

h2::after{
    content: "";
    content: "";
    display: inline-block;
    width: 150px;
    height: 10px;
    background-color: red;
    border-radius: 20px;
    margin-left: 40px;
}